* {
  box-sizing: border-box;
}

body,
html {
  min-height: 100%;
}

html {
  padding: 60px 10px 10px;
  font-size: 1.1em;
}

body {
  margin: 0;
  border: 10px solid #4A5C9C;
  padding: 20px;
  font-family: Nunito,sans-serif;
  line-height: 1.6;
}

h1,
h2,
p {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*+* {
  margin-top: 1.5em;
}

a[href="#page-main"] {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.util-text-align-center {
  text-align: center;
}

.reset-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.page-constraint {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
}

.page-constraint--large {
  max-width: 1200px;
}

h1 {
  background-color: #4A5C9C;
  color: #fff;
  font-family: Ultra,serif;
  font-weight: 400;
  text-align: center;
}

.page-nav {
  font-family: Ultra,serif;
  font-size: 1.3em;
}

.page-nav a {
  text-decoration: none;
  color: #4A5C9C;
}

.page-nav li {
  margin-right: .5em;
}

.page-nav li:last-child {
  margin-right: 0;
}

.logo {
  margin-top: -60px;
}

.button {
  background: #4A5C9C;
  color: #fff;
  border: 0;
  font-size: 1em;
  padding: .6em 1em;
  text-decoration: none;
  display: inline-block;
}

.button--ghost {
  background: 0 0;
  border: 2px solid #4A5C9C;
  color: #4A5C9C;
}

.list--inline>li {
  display: inline-block;
  margin-top: 0;
}

.driver {
  padding: 20px 0;
  background-image: url('data:image/svg+xml;utf8,<svg width="243" height="276" viewBox="0 0 243 276" xmlns="http://www.w3.org/2000/svg"><path d="M0 10.5L243 0l-34.5 276-171.004-19" fill="#EFEFEF" fill-rule="evenodd"/></svg>');
  background-repeat: no-repeat;
  background-size: cover;
}
