---
---

$blue: #263791;

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

html {
    padding: 10px;
    font-size: 1.1em;
}

body {
    margin: 0;
    border: 10px solid $blue;
    padding: 20px;

    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

* + * {
	margin-top: 1.5em;
}


//
// Our Styles
// -----------------------------


// Page Constraint
.page-constraint {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}
.page-constraint--large {
    max-width: 1200px;
}


// Page Heading
h1 {
    background-color: $blue;
    color: white;
    font-family: 'Ultra', serif;
    font-weight: normal;
    text-align: center;
}
