
$blue: #4A5C9C;
$font-family-title: 'Ultra', serif;

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

html {
    padding: 10px;
    padding-top: 60px;
    font-size: 1.1em;
}

body {
    margin: 0;
    border: 10px solid $blue;
    padding: 20px;

    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
}

* + * {
	margin-top: 1.5em;
}


//
// Helpers
%a11y-hidden,
.a11y-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.a11y-hidden-reset {
    position: static;
    width: auto;
    height: auto;
}

//
// Util

.util-text-align-center {
    text-align: center
}

.util-column-2 {
    column-count: 2;
}

.util-reset-margin * {
    margin-top: 0;
}

//
// Resets

.reset-list {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}


//
// Libraries

// Lightbox
@import "node_modules/baguettebox.js/src/baguetteBox.scss";

// Slick
$slick-arrow-color: transparent;
$slick-dot-color: red;
$slick-dot-size: 30px;
@import "node_modules/slick-carousel/slick/slick.scss";
@import "node_modules/slick-carousel/slick/slick-theme.scss";

.slick-slider {
    .slick-arrow {
        background-repeat: no-repeat;
        background-size: contain;
        height: 35px;
        width: 35px;
    }
    .slick-next {
        background-image: url('../icons/arrow-right.svg');
    }
    .slick-prev {
        background-image: url('../icons/arrow-left.svg');
    }
}


//
// Our Styles
// -----------------------------

// Links
a {
    color: $blue;
    font-weight: bold;
}

// Page Constraint
.page-constraint {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
}
.page-constraint--large {
    max-width: 1200px;
}

//
// Layout side col
.layout-side-col {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 40px;

    @media screen and (max-width: 850px ) {
        display: block;
    }
}

// Page Heading
h1 {
    background-color: $blue;
    color: white;
    font-family: $font-family-title;
    font-weight: normal;
    text-align: center;
}

//
// Page Navigation
.page-nav {
    font-family: $font-family-title;
    font-size: 1.3em;

    a {
        text-decoration: none;
        color: $blue;
    }

    li {
        margin-right: .5em;
        &:last-child {
            margin-right: 0;
        }
    }
}

//
// Page Footer
.page-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 4em;

    small {
        flex-basis: 100%;
        font-size: 0.8em;
    }

    .logo {
        width: 100px;
        margin-right: 2em;
        display: block;
    }

    // icons
    object {
        width: 40px;
        height:  40px;
        pointer-events: none;
    }

    .social-icons {
        flex: 1;
        text-align: right;
        a {
            display: block;
        }
    }
}

//
// logo

.logo {
    margin-top: -60px;
}

//
// Inputs

.label {
    display: block;
}

.text-input {
    width: 100%;
    font-size: 1em;
    padding: .8em;
    border: 3px solid $blue;
    margin-top: 0;
}

.button {
    background: $blue;
    color: white;
    border: 0;
    font-size: 1em;
    padding: .6em 1em;
    text-decoration: none;
    display: inline-block;
}

.button--ghost {
    background: transparent;
    border: 2px solid $blue;
    color: $blue;
}


//
// Lists

.list--inline {
    > li {
        display: inline-block;
        margin-top: 0;
    }
}

//
// Gig

.gig {
    display: flex;
    flex-wrap: wrap;
    text-transform: capitalize;

    * {
        margin: 0;
    }
}

.gig__date {
    display: inline-block;
    span {
        display: block;
        font-weight: bold;
        margin-top: 0;

        &:first-child {
            font-size: 13px;
            font-weight: normal;
        }

    }
}

.gig__location {

    display: flex;
    min-width: 450px;

    &,
    > * {
        flex: 1;
    }

    .button {
        flex-grow: 0;
        flex-basis: auto;
    }
}


//
// Skip Link

a[href="#page-main"] {

    @extend .a11y-hidden;

    &:focus {
        @extend .a11y-hidden-reset;
    }
}


//
// Carousel
.carousel {
    img {
        max-height: 350px;
    }
}


//
// Driver
.driver {
    padding: 20px 0;
    background-image: url('../img/driver.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

//
// Video
.video {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

// 
// Media

.media {
    display: flex;

    img {
        width: 30%;
        margin-right: 2em;
    }
}

//
// PAGES
// ---------------------------

// home
.page-Home {
    h1 {
        @extend %a11y-hidden;
    }
    .page-grid {
        display: grid;
        grid-template-columns: 50% 50%;

        @media screen and (max-width: 850px ) {
            display: block;
        }

        section {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        section:nth-child(3) {
            grid-column-end: 2;
        }
        section:nth-child(4) {
            grid-column-start: 2;
        }
    }
}
