
$blue: #4A5C9C;

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

html {
    padding: 10px;
    font-size: 1.1em;
}

body {
    margin: 0;
    border: 10px solid $blue;
    padding: 20px;

    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
}

* + * {
	margin-top: 1.5em;
}


//
// Helpers

.a11y-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.a11y-hidden-reset {
    position: static;
    width: auto;
    height: auto;
}

// 
// Util

.util-text-align-center {
    text-align: center
}

//
// Resets

.reset-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}



//
// Our Styles
// -----------------------------


// Page Constraint
.page-constraint {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
}
.page-constraint--large {
    max-width: 1200px;
}


// Page Heading
h1 {
    background-color: $blue;
    color: white;
    font-family: 'Ultra', serif;
    font-weight: normal;
    text-align: center;
}

// Inputs

.label {
    display: block;
}

.text-input {
    width: 100%;
    font-size: 1em;
    padding: .8em;
    border: 3px solid $blue;
}

.button {
    background: $blue;
    color: white;
    border: 0;
    font-size: 1em;
    padding: .6em 1em;
    text-decoration: none;
    display: inline-block;
}

.button--ghost {
    background: transparent;
    border: 2px solid $blue;
    color: $blue;
}


//
// Lists

.list--inline {
    > li {
        display: inline-block;
    }
}

//
// Gig

.gig {
    display: flex;
    align-items: flex-end;
}

.gig__date {
    display: inline-block;
    span {
        display: block;
        font-weight: bold;
        margin-top: 0;

        &:first-child {
            font-size: 13px;
            font-weight: normal;
        }

    }
}

.gig__location {

    display: flex;
    align-items: flex-end;

    &,
    > * {
        flex: 1;
        margin-left: 1em;
    }

    .button {
        flex-grow: 0;
        flex-basis: auto;
    }
}


//
// Skip Link

a[href="#page-main"] {

    @extend .a11y-hidden;

    &:focus {
        @extend .a11y-hidden-reset;
    }
}


//
// Carousel
.carousel {
    img {
        max-height: 350px;
    }
}


//
// Driver
.driver {
    padding: 20px 0;
    background-image: url('data:image/svg+xml;utf8,<svg width="243" height="276" viewBox="0 0 243 276" xmlns="http://www.w3.org/2000/svg"><path d="M0 10.5L243 0l-34.5 276-171.004-19" fill="#EFEFEF" fill-rule="evenodd"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
}