---
layout: default
---

{% if page.title == "Archive" %}
    <ul class="page-constraint page-constraint--large reset-list baguette-gallery">
    {% for image in site.static_files %}
        {% if image.path contains 'img/archive/thumb' %}
        {% if image.extname contains 'jpg' %}
            <li>
                <a href="{{ site.baseurl }}/assets/img/archive/{{ image.basename }}.jpg">
                    <img data-src="{{ site.baseurl }}/assets/img/archive/thumb/{{ image.basename }}.jpg"  alt="" class="lazyload">
                </a>
            </li>
        {% endif %}
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}
