<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }} | {{ site.name }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Ultra" rel="stylesheet">

</head>
<body class="page-{{ page.title }}">
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
            appId      : '666554986807078',
            xfbml      : true,
            version    : 'v2.10'
            });

            // log page view
            FB.AppEvents.logPageView();

            // there are race condition problems with this. gigs() doesn't always exist
            var gigsList = document.getElementById('gigs-list');
            if(gigsList){
                $(document).ready(function(){
                    gigs().init();
                });
            }

        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "https://connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
     </script>

    {% include header.html %}

    <main id="page-main" class="{{ layout.classes }}">

        {% assign page_title = page.title %}
        {% if page.title == "home" %}
            {% assign page_title = site.name %}
        {% endif %}
        <div class="page-constraint page-constraint--large">
            <h1>{{ page_title }}</h1>
        </div>

        {{ content }}

    </main>

    {% include footer.html %}

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Our scripts -->
    <script src="{{ site.baseurl }}/assets/js/scripts.min.js"></script>

</body>
</html>
