---
layout: default
---

{% if page.title == "Discography" %}
    <ul class="page-constraint reset-list">
        {% for album in page.albums %}
            <li>
                <div class="media">
                    <img src="assets/img/discography/{{ album.image }}.jpg" alt="{{ album.name }} album artwork">
                    <div>
                        <h2>{{ album.name }}</h2>
                        <span>{{ album.released }}</span>
                        <p>{{ album.info }}</p>
                 
                    </div>
                </div>
            </li>
        {% endfor; %}
    </ul>
{% endif %}
