---
layout: default
---

<div class="page-grid">

    <section class="home-header">
        <div class="page-constraint page-constraint--large">
            <h1>
                <div class="logo">
                    <span class="logo__top">The</span>
                    <span class="logo__main">BLUES ISSUE</span>
                    <span class="logo__bottom">Blues that rocks</span>
                </div>

            </h1>
        </div>
    </section>

    <section>
        <h2>Next Gig</h2>
        <ul class="reset-list" id='gigs-list' data-limit="1">
            <li>Loading...</li>
        </ul>
        <a href="{{ site.baseurl }}/gigs.html">View All</a>
    </section>

    <section>
        "Ten-Handed, Twelve-Barrelled, Hot Rockin’ Blues"

        <p>Blues on the Farm, Burnerfest, Chiddifest, Clitheroe Blues Rhythm & Rock, Dover Blues, Upton Blues, Whitby Blues, Swanage Blues festivals …6 times in a row!
Support slots for Chicken Shack, Doctor Feelgood, 9 Below Zero and Kaz Hawkins…
And a blazing appearance at the legendary 100 Club.
They’re starting 2018 at the Great British Rock and Blues Festival in Skegness</p>

        <p>The Blues Issue - a South Coast 5 piece - an explosive fusion of twin guitars, hollerin’ harp, a supercharged rhythm section and some of the most emotive Blues vocals around. All channeled into a selection of original and re-imagined blues tunes.</p>
    </section>

    <section>
        <div class="driver">
            <h2>Want to buy our music?</h2>
            <p>Buy CD's, downloads and much more</p>
            <a href="{{ site.baseurl }}/discography.html" class="button button--ghost">Shop Now</a>
        </div>
    </section>

    <section>
        <ul class="reset-list" id="quote-slider">
            {% for quote in site.quotes %}
                <li>
                    <blockquote>{{ quote.quote }}</blockquote>
                    {{ quote.author }}
                </li>
            {% endfor %}
        </ul>
    </section>
</div>
